[mysqld]
user                    = mysql
port                    = 3306
socket                  = /run/mysqld/mysqld.sock
datadir                 = /var/lib/mysql
#pid-file                = /run/mysqld/mysqld.pid
#basedir                 = /usr
#mpdir                  = /tmp
#lc-messages-dir         = /usr/share/mysql